<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title> 
    </head>
    <body>
       <h1>Under Maintenance, We'll be right back.</h1>
       <p> Currently under maintenance, come back soon!</p>
    </body>
</html>